* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 20%;
    background-color: blue;
}


aside {
    height: 80%;
    width: 30%;
    background-color: lightblue;
}


aside, main {
    float: left;
}

main {
    height: 80%;
    width: 70%;
    background-color: green;
}

nav {
    height: 10%;
    width: 100%;
    background-color: pink;
    text-align: center;
}

nav a {
    display: inline-block;
    margin-left: 10px;
    background-color: rgb(89, 89, 255);
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

footer {
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}

.azul {
    background-color: rgb(80, 80, 255);
    color: white;
}

.rojo, .azul {
    height: 100px;
}

section p {
    transition:all 1s ease-in-out;
}

.rojo {
    background-color: rgb(255, 61, 61);
}

